.chat-group-form__field--left
  %label.chat-group-form__label{:for => "chat_group_チャットメンバーを追加"} 投稿検索
  .chat-group-form__field--right
    .chat-group-form__search.clearfix
      %input#user-search-field.chat-group-form__input{:placeholder => "search post", :type => "text"}/
    #user-search-result

- @posts.each do |post|
  = render partial: "post", locals: { post: post}
  

  