.form{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 15px;
  font-weight: normal;
  &__title{
    display: block;
    width: 500px;
    height: 50px;
    
  }
  &__text{
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 15px;

  }
  &__btn{
    display: block;
    width: 30%;
    margin: 15px auto 0;
  }
}