html{
  display: inline-block;
body{
  overflow: scroll;
  // font-family: 'arial unicode ms';
  font-family: verdana, arial, helvetica, sans-serif;
  min-width: 650px;
  height: 100vh;

      .new_favorite{
        line-height: 57px;
        justify-content: space-between;
      }
      .edit_favorite{
        line-height: 57px;
        justify-content: space-between;
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
    }
    .postTitle{
      padding-top: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .postDate{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postAuthor{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__edit{
        display: block;
        border-radius: 5px;
        color: #999;
        // background-color:#999;
        padding: 0 10px;
        // text-decoration: none;
        margin-right: 10px;
      }
      &__delete{
        display: block;
        border-radius: 5px;
        color: #999;
        padding: 0 10px;
        margin-left: 10px;
        background-color: #fff;

      }
      &__back{
        border-radius: 5px;
        color: #999;
        padding: 0 10px;
        margin-left: 10px;
        text-decoration: none;      
      }
    }
    .postText{
      margin: 20px 30px;
    }

  }
  .user{
    padding: 15px 30px;
  }
}
  
  p, ol, ul, td {
    font-family: 'arial unicode ms';
    font-size: 20px;
  }
  a {
    &:visited {
      color: #666;
    }
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 13px;
  }

     